

/* ---------------- First Fold ------------------ */

#first-fold{
    height: 100vh;
    background-color: var(--care);
    color: var(--ironGall);
    overflow: hidden;
}

#first-fold a{
    color: var(--ironGall);
    transition: 0.3s;
}

#first-fold a:hover{
    color: var(--parchment);
    transition: 0.3s;
}

#logo img{
    height: 24px;
    width: auto;
}

.content{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: start;
    max-width: 1800px;
    height: 100%;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#top-fold-header{
    width: 85%;
}

#website-links{
    display: flex;
    flex-direction: row;
    gap: 48px;
    color: var(--ironGall);
}


/* ---------------- Scrolling text ------------------ */

#scrolling-text{
    text-align: center; /* Center the container */
    width: 70%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the container on the page */
    height: 90vh;
    color: var(--parchment);
  
}

#text-right{
    width: 50%; /* Half width of the header */
    display: inline-block; /* Allows width to be set */
    text-align: left; /* Align text to the left within the paragraph */
    margin-left: 40%; 
    margin-top: 24px;
}




/* ---------------- What we do ------------------ */

#what-we-do{
    padding-top: 140px;
    padding-bottom: 140px;
    color: var(--wine);
    background-color: var(--parchment);
    z-index: 100;
}


#big{
font-size: 300px;
line-height: 90%;
}

#small{
    font-size: 80px;
    margin-top: 0px;
    position:absolute;
}



.services-list{
    /* width: calc(50% - 12px); */
    width: 100%;
    display: flex;
    flex-direction: column;
}

#services-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}


.service{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0px 20px 0px;
    /* border-bottom: 2px solid var(--wine); */
    position: relative;
    height: 100%;
    color: var(--wine);
    transition: background-color 0.3s;
}

.service::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0; /* Start with 0 width */
    height: 2px;
    background-color: var(--wine);
    transition: width 1s ease-out; /* Animation effect */
}

.animate-border::after {
    width: 100%; /* Full width on animation */
}

.hide{
    color: var(--parchment);
    line-height: 100%;
    display: none;
    font-size: 14px;
    line-height: 130%;
    font-family: "Obviously";
    font-weight: 600;
    font-stretch: 94%;
    padding-right: 16px;
    margin-top: 3px;
}

.service:hover{
    background-color: var(--wine);
    color: var(--parchment);
    transition: 0.2s;
}

.service:hover .hide{
    display: block;
}

/* ---------------- Latest Work ------------------ */

#latest-work{
    background-color: var(--ironGall);
    color: var(--parchment);
    height: 120vh;
    width: 100%;
    padding-top: 140px;
    padding-bottom: 180px;
}

.header-beside-description{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.description{
    width: 36%;
    display: flex;
    flex-direction: column;
    gap: 120px;
}

#case-studies{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: start;
    gap: 32px;
}

.case-study{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
    color: var(--parchment);
}

.case-study:hover{
    color: var(--care);
}



/* ---------------- IMAGE MARQUEE ---------------- */

.scrolling-wrapper {
    display: flex;
    /* overflow-x: auto; */
    white-space: nowrap;
}

.scrolling-content {
    display: inline-flex;
    animation: scroll 20s linear infinite;
}

.scrolling-content img {
    margin: 24px; /* Adjust as needed */
    height: 64px; /* Adjust as needed */
    width: auto; /* Keeps the aspect ratio */
}

@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}

.clients-section{
    background-color: var(--fairness-dark);
    color: var(--fairness);
    padding-top: 140px;
    padding-bottom: 140px;
}

.clients-section h4{
    max-width: 36%;
    margin: 0px 0px 0px 56px;
}


/* ---------------- OUR TEAM ------------------ */

#our-team{
    z-index: 1;
    background-color: var(--parchment);
    color: var(--fairness-dark);
    padding-top: 140px;
    padding-bottom: 140px;
}

.team-member a{
    color: var(--fairness-dark);
    transition: 0.3s;
}

.team-member a:hover{
    color: var(--wine);
}


.description-flex{
    display: flex;
    flex-direction: column;
    gap: 48px;
}

#team-members{
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.team-member{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#team-image{
    height: 250px;
    width: calc(250px * 1.334);
    position: relative;
    overflow: visible;
    rotate: -15deg;
}

#team-image img{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#lottie-container{
    height: 150%;
    width: 150%;
    object-fit: cover; 
    position: absolute;
    top: -24%;
    left: -24%;
    z-index: 2;
    rotate: -90deg;
    /* background-color: rgba(0,0,0,0.3); */
}



/* ---------------- WHAT'S NEW ------------------ */

#whats-new-section
{
    background-color: var(--parchment);
    color: var(--wine);
    padding-top: 140px;
    padding-bottom: 140px;
}

#whats-new-content{
    display: flex;
    flex-direction: row;
    gap: 48px;
    width: 100%;
    justify-content: space-between;
}

#feed{
    width: 36%;
}

#cheatsheet-section{
    width: auto;
}

#cheatsheet-image{
    width: 100%;
    height: auto;
}



/* ---------------- SERVICES ------------------ */

.service-flex{
    display: flex;
    flex-direction: row;
    gap: 64px;
}

#services{
    padding-top: 140px;
    padding-bottom: 140px;
    background-color: var(--ironGall);
    color: var(--parchment);
}

#services-header{
    width: 36%;
}

/* ---------------- PARTNER WITH US ------------------ */

#partner-with-us{
    padding-top: 140px;
    padding-bottom: 140px;
    background-color: var(--wine);
    color: var(--parchment);
    height: 110vh;
}

#contact-row-flex{
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-between;
    width: 100%;
}

.left-content{
    justify-content: flex-start;
    width: 70%;
    height: 100%;
}

.right-content{
    padding-top: 100px;
    justify-content: flex-end;
    width: 30%;
    height: 100%;
}




/* ---------------- FOOTER ------------------ */

.footer{
    background-color: var(--ironGall);
    color: var(--parchment);
    padding-top: 140px;
    padding-bottom: 140px;
}

.footer a{
    color: var(--parchment);
    transition: color 0.3s;
}

.footer a:hover{
    color: var(--care);
}

